<form>
    <div class="progress-bar">
        <label for="file"></label>
        <progress id="file" max="100" value="100"> 100%</progress>
    </div>
    <h1 class="form-title">Введите дату своего рождения:</h1>
    <div class="wrapper-column selection">
        <div class="flex-wrap">
            <select name="day" id="day" class="s-1">
                <option value="" selected >День</option>
            </select>
        </div>
        <div class="flex-wrap">
            <select name="month" id="month" class="s-2">
                <option value="" selected >Месяц</option>
            </select>
        </div>
        <div class="flex-wrap">
            <select name="year" id="year">
                <option value="" selected >Год</option>
            </select>

        </div>
        <div class="flex-wrap">
            <div class="message">Пожалуйста, выберите ответ</div>
        </div>
        <div class="flex-wrap zodiac">

        </div>
    </div>
    <button class="btn next-page">Далее</button>
</form>
