<form>
    <div class="progress-bar">
        <label for="file"></label>
        <progress id="file" max="100" value="16"> 16%</progress>
    </div>
    <h1 class="form-title">В какое время суток Вы чувствуете себя наиболее комфортно?</h1>
    <div class="wrapper-column">
        <div class="flex-wrap">
            <input type="radio" class="i-4" name="comfortable" id="morning" value="morning"/>
            <label for="morning">Утро</label>
        </div>
        <div class="flex-wrap">
            <input type="radio" class="i-4" name="comfortable" id="night" value="night"/>
            <label for="night">Ночь</label>
        </div>
        <div class="flex-wrap">
            <input type="radio" class="i-4" name="comfortable" id="evening" value="evening"/>
            <label for="evening">Вечер</label>
        </div>
        <div class="flex-wrap">
            <input type="radio" class="i-4" name="comfortable" id="day" value="day"/>
            <label for="day">День</label>
        </div>
    </div>
    <button class="btn next-page">Далее</button>
</form>
