<form>
    <div class="progress-bar">
        <label for="file"></label>
        <progress id="file" max="100" value="64"> 64%</progress>
    </div>
    <h1 class="form-title">Какой Вы видите свою жизнь через 5 лет?</h1>
    <div class="wrapper-column">
        <div class="flex-wrap">
            <input type="radio" name="feature" id="family" value="family"/>
            <label for="family">Брак, семья, дети, дом</label>
        </div>
        <div class="flex-wrap">
            <input type="radio" class="i-3" name="feature" id="travel" value="travel"/>
            <label for="travel">Путешествия по миру</label>
        </div>
        <div class="flex-wrap">
            <input type="radio" class="i-3" name="feature" id="career" value="career"/>
            <label for="career">Успешная карьера </label>
        </div>
        <div class="flex-wrap">
            <input type="radio" class="i-3" name="feature" id="together" value="together"/>
            <label for="together">Всё вместе </label>
        </div>
    </div>
    <button class="btn next-page">Далее</button>
</form>
