<form>
<div class="progress-bar">
  <label for="file"></label>
  <progress id="file" max="100" value="48"> 48%</progress>
</div>
<h1 class="form-title">Чувствуете ли Вы в последнее время, что вам никак не удается осуществить ваши
  планы?</h1>
<div class="wrapper-column">
  <div class="flex-wrap">
    <input type="radio" class="i-2" name="feels" id="yes" value="yes" />
    <label for="yes">Да</label>
  </div>
  <div class="flex-wrap">
    <input type="radio" class="i-2" name="feels" id="not" value="not"/>
    <label for="not">Нет</label>
  </div>
  <div class="flex-wrap">
    <input type="radio" class="i-2" name="feels" id="sometimes" value="sometimes"/>
    <label for="sometimes">Иногда</label>
  </div>
</div>
    <button class="btn next-page">Далее</button>
</form>