<section>
  <div class="hero">
    <img src="././image/thumb_l_26123%201.svg" alt="hero"/>
  </div>
</section>
<section class="info-block">
  <h1 class="title">Узнайте, как 2021 год изменит жизнь каждого из нас!</h1>
  <p class="text">
    К сожалению, 2020 год принес нам немало неприятностей, даже откровенных проблем и несчастий. Не смотря
    на это, 3 знака зодиака очень скоро обретут долгожданное счастье! 2021 год затронет своими потрясениями
    каждого из нас.
  </p>
</section>

<form>
  <h1 class="form-title">Укажите свой пол:</h1>
  <div class="wrapper-input">
    <div class="flex-wrap">
      <input type="radio" class="i-1" name="gender" id="women" value="women"/>
      <label for="women">Женщина</label>
    </div>
    <div class="flex-wrap">
      <input type="radio" class="i-1" name="gender" value="men" id="men"/>
      <label for="men">Мужчина</label>
    </div>
  </div>
  <button class="btn next-page">Далее</button>
</form>