<form>
<div class="progress-bar">
  <label for="file"></label>
  <progress id="file" max="100" value="32"> 32%</progress>
</div>
<h1 class="form-title">Подскажите, мучает ли Вас бессонница последнее время?</h1>
<div class="wrapper-column">
  <div class="flex-wrap">
    <input type="radio" name="insomnia" id="yes" value="yes" />
    <label for="yes">Да</label>
  </div>
  <div class="flex-wrap">
    <input type="radio" name="insomnia" id="not" value="not"/>
    <label for="not">Нет</label>
  </div>
  <div class="flex-wrap">
    <input type="radio" name="insomnia" id="sometimes" value="sometimes"/>
    <label for="sometimes">Иногда</label>
  </div>
</div>
<button class="btn next-page">Далее</button>
</form>