@import "reset";
@import "header";
@import "hero";
@import "form";
@import "footer";
@import "breakpoints";
@import "progress-bar";
@import "progres";
@import "variables";
@import "results";

*,
*::before,
*::after {
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
}

.container{
   max-width: 623px;
   display: block;
   margin: 0 auto;
   @include sm{
      max-width: 320px;
      padding-left: 17px;
      padding-right: 16px;
   };
}
h3{
   font-weight: 500;
   font-size: 14px;
   line-height: 19px;
   color: $graphite;
}